ion-content {
    --background: #fff;
}

.title-name {
    display: flex;
    height: 90px;
    justify-content: space-between;

    p {
        display: flex;
        align-items: end;
    }
}


.selection {
    ion-list {
        margin: 0 auto;
    }

    h6 {
        color: #769FCD;
    }
}

ion-item::part(native) {
    border: none;
}

.document-detail {
 
    .send-to{
        display: flex;
        align-items: center;
    }
    .approver {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .emp,
        .hr,
        .manage {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;

            ion-item {
                text-align: center;
            }
        }
    }
}
.btn-g{
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    ion-button.save {
        width: 100px;
        --background: #769FCD;
        --background-hover: #769FCD;
        --background-activated: #769FCD;
        --background-focused: #769FCD;
        --color: #fff;
        --ripple-color: #769fcdab;
        --padding-top: 10px;
        --padding-bottom: 10px;
      }

    ion-button.refresh {
        --background: #fff;
        --background-hover: #fff;
        --background-activated: #fff;
        --background-focused: #fff;
        --color: #769FCD;
        --border-color: #769FCD;
        --border-style: solid;
        --border-width: 1px;
        --ripple-color: #769fcdab;
        --padding-top: 10px;
        --padding-bottom: 10px;
      }
}