<div class="ion-page" id="main-content-doc">
  <ion-header>
    <ion-toolbar>
      <ion-title>

        <ion-card class="header-card">
          <ion-card-header>
            <ion-card-title>Document</ion-card-title>
            <ion-card-subtitle style="text-align: right;">{{todayNumber | date}}</ion-card-subtitle>
          </ion-card-header>

        </ion-card>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content style="--padding-bottom:75px;" class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <ion-card class="report-card">
      <ion-card-header>
        <ion-card-title>เลือกประเภทเอกสาร</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item lines="none">
            <ion-select [(ngModel)]="getBynotifiCations.type_doc" (ionChange)="handleChange($event)" aria-label="Fruit" interface="popover"
              placeholder="เลือกประเภทเอกสาร">
              <ion-select-option value="เอกสารการลา">เอกสารการลา</ion-select-option>
              <ion-select-option value="เอกสารรายงาน">เอกสารรายงาน</ion-select-option>
              <ion-select-option value="เอกสารการแลกเปลี่ยนเวร">เอกสารการแลกเปลี่ยนเวร</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <div class="title-document">
          <p><span style="font-weight: 600;color: #769fcd;">รายงาน</span> {{currentFood}}</p>
        </div>


        <div class="send-to">
          <!-- <p style="font-weight: 600;color: #769fcd;">เรียน</p> -->
          <ion-list [inset]="true">

            <ion-item lines="none">
              <ion-label>เรียน</ion-label>
              <ion-input [(ngModel)]="firstname" class="custom" placeholder="กรุณาพิมพ์ ชื่อ">{{name}}</ion-input>
              <ion-button id="open-modal" class="btn btn-outline-secondary" type="button" (click)="searchName()">
                Search
              </ion-button>
              <ion-button  type="button">
                Refresh
              </ion-button>
             





              <!-- <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

              <ion-list>
                <ion-item *ngFor="let result of results">
                  <ion-label>{{ result }}</ion-label>
                </ion-item>
              </ion-list> -->

            </ion-item>
          </ion-list>

        </div>

        <ion-item lines="none">
          <ion-textarea [(ngModel)]="getBynotifiCations.desc" class="textarea-style" style="text-indent: 25px;
          padding: 10px;" placeholder="พิมพ์ข้อความ" [autoGrow]="true" value="">
          </ion-textarea>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <!-- <ion-card class="name-confirm">
      <ion-card-content>
        <div class="approver">
          <div class="emp">
            <ion-item  lines="none">
              <ion-input   labelPlacement="floating" ></ion-input>
            </ion-item>
            <p>ชื่อพนักงาน</p>
            <p>{{todayNumber| date}}</p>
          </div>
          <div class="hr">
            <ion-item lines="none">
              <ion-input   labelPlacement="floating" ></ion-input>
            </ion-item>
            <p>ฝ่ายบุคล</p>
            <p>{{todayNumber| date}}</p>
          </div>
          <div class="manage">
            <ion-item lines="none">
              <ion-input  labelPlacement="floating" ></ion-input>
            </ion-item>
            <p>ฝ่ายบริหาร</p>
            <p>{{todayNumber| date}}</p>
          </div>
        </div>

      </ion-card-content>
    </ion-card> -->

    <ion-card style="  box-shadow: none;">
      <ion-card-content>
        <div class="btn-g">
          <ion-button (click)="save_noti()"  size="full" class="save">บันทึก</ion-button>
        </div>
      </ion-card-content>
    </ion-card>

  </ion-content>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title style="text-align: center;">ผลการค้นหา</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input [(ngModel)]="firstname" class="custom" placeholder="กรุณาพิมพ์ ชื่อ">{{name}}</ion-input>
              <ion-button id="open-modal" class="btn btn-outline-secondary" type="button" (click)="searchName()">
                Search
              </ion-button>
        </ion-item>
        <!-- <ion-item> -->
          <!-- <ion-select [(ngModel)]="name" aria-label="Fruit" interface="popover" placeholder="เลือกรายชื่อ"> -->
            <ng-container *ngFor="let item of user_all" style="display:flex; flex-direction: column;">
              <!-- <ion-select-option value="{{item.id}}">{{item.firstname}}</ion-select-option> -->
              <p>{{item.firstname}}</p> 
              
            </ng-container>
          <!-- </ion-select> -->
        <!-- </ion-item> -->
      </ion-content>
    </ng-template>
  </ion-modal>
 
</div>