<div class="ion-page" id="main-content-doc">
  <ion-header>
    <ion-toolbar>
      <ion-title>

        <ion-card class="header-card">
          <ion-card-header>
            <ion-card-title>Document</ion-card-title>
            <ion-card-subtitle style="text-align: right;">{{todayNumber | date}}</ion-card-subtitle>
          </ion-card-header>

        </ion-card>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content style="--padding-bottom:75px;" class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <ion-card class="report-card">
      <ion-card-header>
        <ion-card-title>เลือกประเภทเอกสาร</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item lines="none">
            <ion-select [(ngModel)]="getBynotifiCations.type_doc" (ionChange)="handleChange($event)"
              aria-label="document" interface="popover" placeholder="เลือกประเภทเอกสาร">
              <ion-select-option value="0">เอกสารการลา</ion-select-option>
              <ion-select-option value="1">เอกสารรายงาน</ion-select-option>
              <ion-select-option value="2">เอกสารการแลกเปลี่ยนเวร</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <!-- <div class="title-document">
          <p *ngIf="getBynotifiCations.type_doc=='0'"><span style="font-weight: 600;color: #769fcd;">รายงาน</span> เอกสารการลา</p>
          <p *ngIf="getBynotifiCations.type_doc=='1'"><span style="font-weight: 600;color: #769fcd;">รายงาน</span> เอกสารรายงาน</p>
          <p *ngIf="getBynotifiCations.type_doc=='2'"><span style="font-weight: 600;color: #769fcd;">รายงาน</span> เอกสารการแลกเปลี่ยนเวร</p>
        </div> -->


        <div class="send-to">
          <!-- <p style="font-weight: 600;color: #769fcd;">เรียน</p> -->
          <!-- <ion-list [inset]="true"> -->

          <ion-item lines="none">
            <ion-label style="font-weight: 600;color: #769fcd;margin-right: 16px;">เรียน</ion-label>
            <p style=" min-width: 150px;">{{fName}} {{lName}}</p>
            <!-- <ion-input [clearInput]="true" [(ngModel)]="firstname" class="custom">{{fName}} {{lName}}</ion-input> -->
            <ion-button id="open-modal" color="medium"   type="button" >
              <ion-icon  name="search-outline"></ion-icon>
            </ion-button>







            <!-- <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

              <ion-list>
                <ion-item *ngFor="let result of results">
                  <ion-label>{{ result }}</ion-label>
                </ion-item>
              </ion-list> -->

          </ion-item>


        </div>
        <!-- <ion-item lines="none">
          <ion-button  (click)="reloadPage()" type="button">
            Refresh
          </ion-button>
        </ion-item> -->


        <ion-item lines="none">
          <ion-textarea [(ngModel)]="getBynotifiCations.desc" class="textarea-style" style="text-indent: 25px;
          padding: 10px;" placeholder="พิมพ์ข้อความ" [autoGrow]="true" value="">
          </ion-textarea>
        </ion-item>

        


        <!-- <ion-fab slot="fixed" vertical="bottom" horizontal="end">
          <ion-fab-button>
            <ion-icon name="chevron-up-circle"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="top">
            <ion-fab-button>
              <ion-icon name="refresh-outline" (click)="reloadPage()"></ion-icon>
            </ion-fab-button> -->
        <!-- <ion-fab-button>
              <ion-icon name="color-palette"></ion-icon>
            </ion-fab-button>
            <ion-fab-button>
              <ion-icon name="globe"></ion-icon>
            </ion-fab-button> -->
        <!-- </ion-fab-list>
        </ion-fab> -->

      </ion-card-content>

     
    </ion-card>
    <ion-card>
      <ion-button (click)="fileInput.click()">Select File</ion-button>
      <input type="file" #fileInput (change)="onFileSelected($event)" hidden />
      <div *ngIf="selectedFile">
        <p>Selected File: {{ selectedFile.name }}</p>
      </div>
    </ion-card>
    <!-- <ion-card class="name-confirm">
      <ion-card-content>
        <div class="approver">
          <div class="emp">
            <ion-item  lines="none">
              <ion-input   labelPlacement="floating" ></ion-input>
            </ion-item>
            <p>ชื่อพนักงาน</p>
            <p>{{todayNumber| date}}</p>
          </div>
          <div class="hr">
            <ion-item lines="none">
              <ion-input   labelPlacement="floating" ></ion-input>
            </ion-item>
            <p>ฝ่ายบุคล</p>
            <p>{{todayNumber| date}}</p>
          </div>
          <div class="manage">
            <ion-item lines="none">
              <ion-input  labelPlacement="floating" ></ion-input>
            </ion-item>
            <p>ฝ่ายบริหาร</p>
            <p>{{todayNumber| date}}</p>
          </div>
        </div>

      </ion-card-content>
    </ion-card> -->

    <ion-card style="  box-shadow: none;">
      <ion-card-content>
        <div class="btn-g">
          <ion-button (click)="save_noti()" size="full" class="save">บันทึก</ion-button> <br>
          <ion-button (click)="refresher_input()" size="full" color="danger"  fill="clear">เคลียร์ข้อมูล</ion-button>
          <!-- <ion-button (click)="refresher_input()" size="full" class="refresh">เคลียร์ข้อมูล</ion-button> -->
        </div>


      </ion-card-content>
    </ion-card>


    <ion-card style="background-position: 50%;background-image: url('../../../assets/images/Documents-amico.png'); background-size: cover; opacity: .6;">
      <!-- <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content> -->
    
      <ion-button style="--background:transparent;--color: #000000;--box-shadow: none;height: 120px;font-size:26px;font-weight: 700;" expand="block" (click)="setOpen(true)">ดูเอกสารทั้งหมด</ion-button>
      <!-- <ion-button fill="clear">Action 2</ion-button> -->
    </ion-card>
    <!-- <ion-button expand="block" (click)="setOpen(true)">Open</ion-button> -->

    
  </ion-content>


  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar style="border-radius: 0; color: #fff;">
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title style="text-align: center;">ผลการค้นหา</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input [(ngModel)]="firstname" class="custom" placeholder="กรุณาพิมพ์ ชื่อ">{{fName}}
            {{lName}}</ion-input>
          <ion-button id="open-modal" style="--background: #769fcd;" type="button" (click)="searchName()">
            Search
          </ion-button>
        </ion-item>
        <br>
        <ion-item lines="none">
          <ion-radio-group style="width: 100%;" [(ngModel)]="name">
            <ng-container *ngFor="let item of user_all">
              <!-- <ng-container *ngIf="item.firstName != '' && item.firstName != null"> -->

                <ion-radio value="{{item.id}}">

                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img alt="Silhouette of a person's head"
                        src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                    </ion-avatar>
                    <ion-label>{{item.firstName}} {{item.lastName}}</ion-label>
                    <!-- <ion-icon name="close"></ion-icon> -->
                  </ion-item>
                </ion-radio>

              </ng-container>
            <!-- </ng-container> -->
          </ion-radio-group>
        </ion-item>

      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-modal [isOpen]="isModalOpen">
   
    <ng-template>
      <ion-header>
        <ion-toolbar class="document_sended">
          <ion-title>เอกสารทั้งหมด</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)"><ion-icon name="close-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <ion-content class="ion-padding" style="--background: #769fcd;">
      
        <ng-container *ngFor="let item of notificationGet">
          <ng-container *ngIf="item.send_id == currentUser.id">

            <ion-card class="bg-ion-card" (click)="presentActionSheet(item.id)">
              <ion-card-header>
                <ion-card-title class="card-title" *ngIf="item.type_doc == '0'">เอกสารการลา</ion-card-title>
                <ion-card-title class="card-title" *ngIf="item.type_doc == '1'">เอกสารรายงาน</ion-card-title>
                <ion-card-title class="card-title" *ngIf="item.type_doc == '2'">เอกสารการแลกเปลี่ยนเวร</ion-card-title>
                <ion-card-subtitle>ส่งเมื่อ {{item.createdAt | date}}</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                {{item.id}}
                <div class="detail_doc">
                  <p style="text-indent: 16px;">{{item.desc}}</p>
                  <p *ngIf="item.desc == '' || item.desc == null" style="text-indent: 16px;">ไม่ได้กำหนดเนื้อหา</p>
                  <br><br>
                  <ng-container *ngFor="let user of user_all">

                    <ng-container *ngIf="user.id == item.user_send_id">

                      <p style="text-align: end;">ผู้รับ : <span style="color: #769fcd;">{{user.firstname}}
                          {{user.lastname}}</span></p>
                          

                    </ng-container>
                  </ng-container>


                </div>
              </ion-card-content>
            </ion-card>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="check_doc">
          <ion-card style="--background: #769fcd; color: #fff;box-shadow:none; display: flex;flex-direction: column;align-items: center;" class="bg-ion-card">
            <ion-card-header>
              <ion-img src="../../../assets/images/login.png" alt="img-logo login"></ion-img>
            </ion-card-header>

            <ion-card-content>
              <p style="font-size: 18px;">ไม่พบเอกสาร <span style="color: red;">!</span></p>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </ion-content>
    </ng-template>
  </ion-modal>

 

</div>

