ion-content {
    --background: #fff;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-menu-title {
    padding: 0 10px;
    display: flex;
}

.list-menu {
    background: #fff;
}

.item-menu {
    --background: #fff;
    color: #090909;
}

.user-img {
    width: 40px;
    height: 40px;
}
