ion-content {
    --background: #fff;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-menu-title {
    padding: 0 10px;
    display: flex;
}

.list-menu {
    background: #fff;
}

.item-menu {
    --background: #fff;
    color: #090909;
}

.user-img {
    width: 40px;
    height: 40px;
}

.text-user {
    max-width: 65px;
    text-overflow: ellipsis;
}



.tabbar {
    justify-content: center;
  }
  
  .tab-button {
    max-width: 200px;
  }
  
  ::ng-deep ion-icon.icon-button {
    background: var(--ion-color-primary-tint)!important;
    color: white;
    border-radius: 50%!important;
  }
  
  :host ::ng-deep .tabs-inner {
    position: unset!important;
    contain: size style!important;
  }
  
  .bottom-tab-bar {
    --background: transparent;
    --border: 0;
  }
  
  ion-tab-button {
    --background: #769FCD;
    
  }
  
  .button-center {
    // --background: transparent!important;
    ion-icon {
      height: 75px;
      width: 75px;
      font-size: 75px;
    }
  }
  
  ion-tab-bar {
    &:before {
      box-shadow: 0 387px 0 300px #769FCD;
      position: absolute;
      margin-top: -48px;
      padding: 56px;
      border-radius: 65%;
      content: '';
    }
  }
  
  .inner-left-btn {
    
    // border-radius: 0 39% 0 0; // create the curved style on the left side of the center
  }
  
  .inner-right-btn {
    // border-radius: 39% 0 0 0; // create the curved style on the right side of the center
  }
  
  .inner-center-btn {
    position: absolute;
    left: calc(50% - 35px); // position your button in the center
    bottom: 20px; // position your button slightly above the half bezel
    font-size: 70px;
    // --background: transparent;
  }

  ::ng-deep .tab-selected{
    color: #090909;
  }

 ::ng-deep ion-icon{
    color: #F7FBFC;
  }
