// ion-content {
//     --background: #ffffff;
// }

ion-content {
    --background: none;
    background-image: url('../../assets/images/Tax-bro.png');
    // background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.navbar {
    display: flex;
    justify-content: space-between;

    .btn {
        width: 50%;
        display: flex;
        flex-direction: column;

        ion-button {
            color: #769FCD;
        }
    }
}

.side-menu-title {
    padding: 0 10px;
    display: flex;
}

.list-menu {
    background: #F7FBFC;
}

.item-menu {
    --background: #F7FBFC;
    color: #090909;
}

.user-img {
    width: 40px;
    height: 40px;
}

.card-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .main-card {
        background: rgb(118, 159, 205);
        // background: linear-gradient(153deg, rgba(118, 159, 205, 1) 0%, rgba(215, 232, 250, 1) 96%, rgba(247, 251, 252, 1) 100%);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.3px);
        -webkit-backdrop-filter: blur(2.3px);
        // border: 1px solid rgba(168, 224, 255, 0.27);

        ion-card-subtitle,
        ion-card-content {
            color: #fff;
        }
    }

    .sub-card {
        background: rgba(255, 255, 255, 0.75);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.3px);
        -webkit-backdrop-filter: blur(2.3px);
        border: 1px solid rgba(255, 255, 255, 0.27);
    }

    .main-card,
    .sub-card {
        border-radius: 16px;
        // height: 50%;

    }

    .text-header-card {
        color: #090900;
        
    }

    .sub-card {
        .date-all {
            height: 365px;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            justify-content: center;
            padding-bottom: 16px;

            .date-remaining {
                position: relative;
                width: 45%;
                border-radius: 16px;
                padding: 4px 15px;
                background: rgb(118, 159, 205);
        // background: linear-gradient(153deg, rgba(118, 159, 205, 1) 0%, rgba(215, 232, 250, 1) 96%, rgba(247, 251, 252, 1) 100%);
        //         justify-content: center;
                align-items: center;
                display: flex;

                .text-mess-re {
                    color: #090909;
                    background-color: #F7FBFC;
                    position: absolute;
                    border: 5px solid #769FCD;
                    border-radius: 16px;
                    padding: 4px 12px;
                    top: -10px;
                    // left: 35px;

                }

                .text-mess {
                    color: #090909;
                    background-color: #F7FBFC;
                    position: absolute;
                    border: 5px solid #769FCD;
                    border-radius: 16px;
                    padding: 4px 12px;
                    top: -10px;
                    // left: 10px;
                }

                p {
                    line-height: 40px;
                    color: #F7FBFC;
                    font-size: 18px;
                    -webkit-text-stroke-color: #090909;
                }
            }

            .img-date {
                background: #F7FBFC;
                height: 50%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

// ::ng-deep ion-card {
//     background: #769FCD;
// }

// ::ng-deep ion-card.sub-card {
//     background: #F7FBFC;
// }


.flex-card {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.text-total {
    display: flex;
    align-items: end;
    font-size: 27px;
}

.text-header-card {
    font-size: 25px;
}