ion-content {
    --background: #fff;
}




ion-item::part(native) {
    // background: #fff;
    // color: #769FCD;
    // border-color: #769FCD;
    // border-width: 1px;
    // border-radius: 4px;
    // margin-top: 10px;
   
      background: #fff;
      color: #769FCD;
      /* border-color: #769FCD; */
      width: 95%;
      /* border-width: 1px; */
      margin: 0 auto;
      border-radius: 8px;
      border: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      margin-top: 10px;
  }
  
  ion-item::part(detail-icon) {
    display: none;
  }
  .item-noti {
   ::ng-deep ion-icon{
        color: #769FCD;
    }
  }

  //ไม่ข้อมูล
  /* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

  .non_notification{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
