
ion-button{
    font-weight: 700;
}
.login-btn{
    --background: #769FCD;
}
ion-content{
    --background: #769FCD;
    --keyboard-offset: 0 !important;

}

ion-card-title {
    display: flex;
    justify-content: center;
}
