ion-button[color="dark"]{
    text-transform: initial;
}
ion-button{
    font-weight: 700;
}
.login-btn{
    width: 100%;
    --background: #769FCD;
}
ion-content{
    --background: #769FCD;
}

ion-card-title {
    display: flex;
    justify-content: center;
}