<ion-header>
  <ion-toolbar>
    <div class="header-bar">

      <ion-img routerLink="/welcome" class="img-header" src="../../../assets/images/logo-sch-bg.png"
        alt="Logo-sch"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-card>
    <ion-card-header>
      <div class="card-header">
        <ion-card-title>
          <H2 style="color: #272727;">Sign-up</H2>
        </ion-card-title>
        <!-- <ion-button routerLink="/welcome" ><ion-icon name="home-outline"></ion-icon></ion-button> -->
      </div>

    </ion-card-header>

    <ion-card-content>

     <!-- <div [formGroup]="myGroup" novalidate>  -->
       <form [formGroup]="myGroup" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <ion-item fill="outline" class="custom">
          <ion-label position="floating">Name : </ion-label>
          <ion-input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="tutorial.firstname" helperText="Enter a valid email"
            errorText="Invalid email" required></ion-input>
        </ion-item>
        <ion-item fill="outline" class="custom">
          <ion-label position="floating">Email : </ion-label>
          <ion-input type="email" formControlName="email" clearInput [(ngModel)]="form.email" helperText="Enter a valid email"
            errorText="Invalid email" email required></ion-input>
        </ion-item>
        <ion-item fill="outline" class="custom">
          <ion-label position="floating">Username : </ion-label>
          <ion-input type="text" formControlName="username" clearInput  [(ngModel)]="form.username" helperText="Enter a valid email"
            errorText="Invalid email" required></ion-input>
        </ion-item>
        <ion-item fill="outline" class="pass">
          <ion-label position="floating">Password : </ion-label>
          <ion-input [type]="showpass ? 'text':'password'" formControlName="password" clearInput [(ngModel)]="form.password"
            helperText="Enter a valid email" errorText="Invalid email" required></ion-input>
          <ion-icon (click)="togglePass()" style="color: #769FCD;" slot="end" [name]="passToggleIcon"></ion-icon>
        </ion-item>
      </form>
     <!-- </div> -->

    </ion-card-content>
    <ion-card-content>
      <ion-button  (click)="onSubmit()" style="width: 100%;">Sign Up !</ion-button>
    </ion-card-content>

  </ion-card>
</ion-content>