.ion-page {
    padding: 0 0 50px 0;
}

// ion-content{

//     --ion-background-color: rgb(118,159,205);
//     --ion-background-color: linear-gradient(153deg, rgba(118,159,205,1) 0%, rgba(215,232,250,1) 96%, rgba(247,251,252,1) 100%);
// }

ion-content {
    // --background: none;
    // background-image: url('../../../assets/images/save\ time-rafiki.png');
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: cover;
}

.content-personal {
    .head-top {
        min-height: 240px;
        background-color: #769FCD;
        padding: 15px;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        border-radius: 16px;
        color: #fff;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .data-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        .img-user {
            width: 150px;
            // border: 6px solid #769FCD;
            border-radius: 100px !important;
            overflow: hidden;

        }

        .name-tag {

            span {
                color: #769FCD;
            }

            width: 90%;
            text-align: center;

        }

        h5 {
            margin-left: 0;
            font-weight: 300;
            width: max-content;
            // padding-bottom: 5px;
            // border-bottom: 4px solid #769FCD;
        }

        .details,
        .pass-lock,
        .date {
            background: #fff;
            padding: 10px 40px;
            // border: #769FCD 1px solid;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            border-radius: 16px;
            width: 100%;

            p {
                // border-bottom:1px solid #d5d5d5;
                padding-bottom: 10px;
            }
        }

        .details {
            margin-top: -80px;
            p{
                line-height: 32px;
            }
        }

        .btn-group {
            display: flex;
        }


        ion-button {
            color: #ffffff;
            font-weight: 700;
            --background: #769FCD;
        }

    }

    .pd-mg {
        .name-tag {
           
            .custom {
               
                margin: -111px auto;
                --padding-end: 0px;
                --inner-padding-end: 0px;

                ion-input{
                    --background: #769FCD;
                    --color: #fff;
                    --placeholder-color: #fff;
                    --placeholder-opacity: 0.8;
                    --padding-bottom: 10px;
                    --padding-end: 10px;
                    --padding-start: 10px;
                    --padding-top: 10px;
                }
            }
        }

        .details,
        .pass-lock,
        .date {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .details {
            margin-top: -125px;
        }

    }
}