<ion-header>

</ion-header>
<div class="ion-page" id="main-content-to">
    <ion-content class="ion-padding">
        <div class="content-personal" *ngIf="currentUser; else loggedOut">
            <div class="head-top">
                <div class="header">
                    <h3>ข้อมูลส่วนตัว</h3>
                    <ion-icon  (click)="passAlert()" style="color: #ffffff;" size="large" slot="start"
                        [name]="passToggleIcon"></ion-icon>
                        
                </div>
                <div class="name-tag">
                    <h2>{{ currentUser.username }}</h2>
                    <!-- <span> @Apnllp</span> -->
                </div>
            </div>
            <div class="data-user" *ngIf="btn == 'true'">
                <!-- <div class="img-user">
                    <ion-img src="../../../assets/images/logo-sch.png" alt=""> </ion-img>
                </div> -->
                
                <!-- <h5>ข้อมูลต่างๆ</h5> -->
                <div class="details">
                   
                    <p>ตำแหน่งงาน</p>
                    <p>แผนก</p>
                    <p>ที่อยู่</p>
                    <p>เบอร์โทรศัพท์</p>
                <!-- </div> -->
                <!-- <h5>วันเดือน ปี เกิด</h5> -->

                <!-- <div class="date"> -->
                    <p> 20/06/2541</p>
                    <p>อายุ 25 ปี</p>
                </div>
               

                <div class="pass-lock">
                    <h5>รหัสผ่าน</h5>
                    <p>*********</p>
                </div>
                <!-- <h5>ออกจากระบบ</h5> -->
                <div class="pass-lock" >
                    <ion-button (click)="logout()" fill="outline" color="danger" shape="round" style="width:100% ;">ออกจากระบบ</ion-button>
                </div>
            </div>


            <div class="data-user pd-mg" *ngIf="btn == 'false'">
                <!-- <div class="img-user">
                    <ion-img src="../../../assets/images/logo-sch.png" alt=""> </ion-img>
                </div> -->
                <!-- <div class="name-tag">
                    <h2>Apinan Limlampai</h2>
                    <span> @Apnllp</span>
                </div> -->
                <h5>ข้อมูลต่างๆ</h5>
                <div class="details">
                   
                    <ion-item fill="outline" class="custom">
                        <ion-label>ตำแหน่งงาน : </ion-label>
                        <ion-input type="text" placeholder="ตำแหน่งงาน"></ion-input>
                    </ion-item>
                    <ion-item fill="outline" class="custom">
                        <ion-label>แผนก : </ion-label>
                        <ion-input type="text" placeholder="แผนก"></ion-input>
                    </ion-item>
                    <ion-item fill="outline" class="custom">
                        <ion-label>ที่อยู่ : </ion-label>
                        <ion-input type="text" placeholder="ที่อยู่"></ion-input>
                    </ion-item>
                    <ion-item fill="outline" class="custom">
                        <ion-label>เบอร์โทรศัพท์ : </ion-label>
                        <ion-input type="text" placeholder="เบอร์โทรศัพท์"></ion-input>
                    </ion-item>

                <!-- </div> -->
                <!-- <h5>วันเดือน ปี เกิด</h5> -->

                <!-- <div class="date"> -->

                    <ion-item fill="outline" class="custom">
                        <ion-label>Date : </ion-label>
                        <ion-input type="date" placeholder="20/06/2541"></ion-input>
                    </ion-item>
                    <ion-item fill="outline" class="custom">
                        <ion-label>อายุ : </ion-label>
                        <ion-input type="text" placeholder="25 ปี"></ion-input>
                    </ion-item>

                </div>
                <h5>รหัสผ่าน</h5>

                <div class="pass-lock">
                    <ion-item fill="outline" class="custom">
                        <ion-label>Password : </ion-label>
                        <ion-input [type]="showpass ? 'text':'password'" placeholder="********"></ion-input>
                        <ion-icon (click)="togglePass()" style="color: #769FCD;" slot="end"
                            [name]="passToggleIconpass"></ion-icon>
                    </ion-item>

                </div>
                <div class="btn-group">
                    <ion-button (click)="presentAlert()">อัพเดตข้อมูล</ion-button>
                    <ion-button (click)=" presentAlertMultipleButtons()">ยกเลิก</ion-button>
                </div>

            </div>
        </div>

        <ng-template #loggedOut>
            Please login.
          </ng-template>






        <!-- <div class="container" >
            <header class="jumbotron">
              <h3>
                <strong></strong> Profile
              </h3>
            </header>
            <p>
              <strong>Email:</strong>
              {{ currentUser.email }}
            </p>
            <strong>Roles:</strong>
            <ul>
              <li *ngFor="let role of currentUser.roles">
                {{ role }}
              </li>
            </ul>
          </div> -->
          
          

    </ion-content>


</div>